*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar{
  display: none;
}
:root{
  --first-color: #fff;
  --second-color: #000;
  --third-color: rgb(123, 0, 255);
}
html{
  font-size: 10px;
}
.App{
  width: 100%;
  height: auto;
  overflow: hidden;
}

