@font-face {
  font-family: main-font;
  src: url("../public/font/Quicksand-VariableFont_wght.ttf");
}
body {
  margin: 0;
  font-family: main-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

