:root{
    --first-color: #fff;
    --second-color: #000;
    --third-color: rgb(123, 0, 255);
  }
  .them-page{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5rem 2rem;
      padding-top: 10rem;
      background: var(--second-color);
  }
  .them-page h3{
    font-size: 3rem;
    color: var(--first-color);
    margin-bottom: 3rem;
  }
  .them-page p{
    font-size: 1.5rem;
    color: var(--first-color);
    margin-bottom: 6rem;
  }
  .them-page-flex{
    width: auto;
    height: auto;
    background: var(--second-color);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    
  }
  
  
  